In [1]:
import pandas as pd
import numpy as np

In [2]:
def resumen(datos):
    return print('Forma:\n', datos.shape,'\n\n',
                 'Columnas:\n', datos.columns,'\n\n',
                 'Tipos:\n', datos.dtypes,'\n\n',
                 'Datos nulos:\n', datos.isnull().sum(),'\n\n',
                 'Cabecera:\n', datos.head(10),'\n\n',
                 'Últimos datos:\n', datos.tail(10),'\n\n',
                 'Estadísticos:\n', datos.describe([0.05,0.25,0.5,0.75,0.95])
                )
def truncar(numero, decimales = 0):
    return np.trunc(numero*10**decimales)/(10**decimales)

In [3]:
def presion_saturacion(t):
    # Poner t en °C y devuelve e en HPa
    e = 6.11*np.exp(6808*((1/273.15)-(1/(t+273.15)))-5.09*np.log((t+273.15)/273.15))
    return e
def densidad_aire(t, p):
    # Poner t en °C y p en HPa
    ro = (p*100) / (287.058*(t+273.3))
    return ro
def humedad_especifica(a, ro):
    q = a/ro
    return q
def presion_vapor(q, p):
    # Poner q en gr/kg
    e = p*q / (622 + q)
    return e

In [4]:
datos_juntos = pd.read_csv(
    'C:\\Users\\nahue\\Desktop\\Tesis_2\\Datos\\Datos_juntos.csv',
    delimiter = '\t',
    decimal = '.',
    na_values = -9999,
    encoding = 'ascii'
    )

In [5]:
resumen(datos_juntos)

Forma:
 (29914, 124)

 Columnas:
 Index(['Momento', 'TSS1', 'TSS2', 'TS1', 'TS2', 'TS3', 'TS4', 'TS_QG', 'U',
       'DIR',
       ...
       ' r_err_ustar[%]', '   r_err_HTs[%]', '   r_err_LvE[%]',
       '   r_err_co2[%]', ' noise_ustar[%]', '   noise_HTs[%]',
       '   noise_LvE[%]', '   noise_co2[%]', 'Unnamed: 61', 'anio'],
      dtype='object', length=124)

 Tipos:
 Momento            float64
TSS1               float64
TSS2               float64
TS1                float64
TS2                float64
TS3                float64
TS4                float64
TS_QG              float64
U                  float64
DIR                float64
PP                 float64
TA1                float64
HR1                float64
TA2                float64
HR2                float64
TA3                float64
HR3                float64
TA4                float64
HR4                float64
QG1                float64
QG2                float64
WET                float64
RG                 float64
PAR                float64
TSH1               float64
HS1                float64
GH1                float64
Real(KH)1          float64
Imag(KH)1          float64
Real_T(KH)1        float64
                    ...
Cov[w'CO2']        float64
         Nvalue    float64
dir[deg]           float64
ustar[m/s]         float64
HTs[W/m2]          float64
HTp[W/m2]          float64
LvE[W/m2]          float64
z/L                float64
z/L-virt           float64
Flag(ustar)        float64
Flag(HTs)          float64
Flag(HTp)          float64
Flag(LvE)          float64
Flag(wCO2)         float64
          T_mid     object
Fcstor[mmol/m2s    float64
  NEE[mmol/m2s]    float64
Ftprnt_trgt1[%]    float64
Ftprnt_trgt2[%]    float64
 Ftprnt_xmax[m]    float64
 r_err_ustar[%]    float64
   r_err_HTs[%]    float64
   r_err_LvE[%]    float64
   r_err_co2[%]    float64
 noise_ustar[%]    float64
   noise_HTs[%]    float64
   noise_LvE[%]    float64
   noise_co2[%]    float64
Unnamed: 61        float64
anio               float64
Length: 124, dtype: object

 Datos nulos:
 Momento             1856
TSS1                3830
TSS2                3830
TS1                 3830
TS2                 3830
TS3                 3830
TS4                 3830
TS_QG               3830
U                   3830
DIR                 3830
PP                  3830
TA1                 3830
HR1                 3830
TA2                 3830
HR2                 3830
TA3                 3830
HR3                 3831
TA4                 3830
HR4                 3830
QG1                 3830
QG2                 3830
WET                 3830
RG                  3830
PAR                 3923
TSH1                3830
HS1                 3830
GH1                 3830
Real(KH)1           3830
Imag(KH)1           3830
Real_T(KH)1         3830
                   ...
Cov[w'CO2']        11036
         Nvalue     3437
dir[deg]            9999
ustar[m/s]         10266
HTs[W/m2]          10995
HTp[W/m2]          29914
LvE[W/m2]          13503
z/L                 9985
z/L-virt            9985
Flag(ustar)         3437
Flag(HTs)           3437
Flag(HTp)           3437
Flag(LvE)           3437
Flag(wCO2)          3437
          T_mid     3437
Fcstor[mmol/m2s     7788
  NEE[mmol/m2s]    12882
Ftprnt_trgt1[%]    11942
Ftprnt_trgt2[%]    11942
 Ftprnt_xmax[m]    11942
 r_err_ustar[%]     9999
   r_err_HTs[%]    10272
   r_err_LvE[%]    11862
   r_err_co2[%]    11324
 noise_ustar[%]     9999
   noise_HTs[%]    10271
   noise_LvE[%]    11862
   noise_co2[%]    11324
Unnamed: 61        29914
anio                   0
Length: 124, dtype: int64

 Cabecera:
     Momento   TSS1   TSS2    TS1    TS2    TS3    TS4  TS_QG      U    DIR  \
0  54.36458  18.15  17.97  17.89  19.35  19.21  18.66  18.47  4.701  165.8
1  54.37500  18.16  18.12  18.10  19.35  19.21  18.67  18.46  5.088  166.4
2  54.38542  18.18  18.26  18.41  19.32  19.20  18.67  18.46  5.180  166.0
3  54.39583  18.25  18.35  18.80  19.30  19.19  18.67  18.46  5.217  170.4
4  54.40625  18.35  18.53  19.07  19.26  19.16  18.65  18.47  5.059  156.8
5  54.41667    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6  54.42708  19.00  19.02  19.98  19.26  19.16  18.64  18.63  4.685  154.7
7  54.43750  19.26  19.16  20.67  19.28  19.17  18.65  18.72  4.681  157.2
8  54.44792  19.44  19.36  21.23  19.28  19.17  18.63  18.78  5.068  165.6
9  54.45833  19.69  19.51  22.01  19.28  19.16  18.63  18.89  5.128  166.3

   ...   r_err_ustar[%]     r_err_HTs[%]     r_err_LvE[%]     r_err_co2[%]  \
0  ...              NaN              NaN              NaN              NaN
1  ...              NaN              NaN              NaN              NaN
2  ...              NaN              NaN              NaN              NaN
3  ...              NaN              NaN              NaN              NaN
4  ...              NaN              NaN              NaN              NaN
5  ...              NaN              NaN              NaN              NaN
6  ...              NaN              NaN              NaN              NaN
7  ...              NaN              NaN              NaN              NaN
8  ...              NaN              NaN              NaN              NaN
9  ...              NaN              NaN              NaN              NaN

    noise_ustar[%]     noise_HTs[%]     noise_LvE[%]     noise_co2[%]  \
0              NaN              NaN              NaN              NaN
1              NaN              NaN              NaN              NaN
2              NaN              NaN              NaN              NaN
3              NaN              NaN              NaN              NaN
4              NaN              NaN              NaN              NaN
5              NaN              NaN              NaN              NaN
6              NaN              NaN              NaN              NaN
7              NaN              NaN              NaN              NaN
8              NaN              NaN              NaN              NaN
9              NaN              NaN              NaN              NaN

   Unnamed: 61   anio
0          NaN   8.75
1          NaN   9.00
2          NaN   9.25
3          NaN   9.50
4          NaN   9.75
5          NaN  10.00
6          NaN  10.25
7          NaN  10.50
8          NaN  10.75
9          NaN  11.00

[10 rows x 124 columns]

 Últimos datos:
        Momento  TSS1  TSS2  TS1  TS2  TS3  TS4  TS_QG   U  DIR  ...  \
29904      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...
29905      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...
29906      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...
29907      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...
29908      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...
29909      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...
29910      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...
29911      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...
29912      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...
29913      NaN   NaN   NaN  NaN  NaN  NaN  NaN    NaN NaN  NaN  ...

        r_err_ustar[%]     r_err_HTs[%]     r_err_LvE[%]     r_err_co2[%]  \
29904              NaN              NaN              NaN              NaN
29905              NaN              NaN              NaN              NaN
29906              NaN              NaN              NaN              NaN
29907              NaN              NaN              NaN              NaN
29908              NaN              NaN              NaN              NaN
29909              NaN              NaN              NaN              NaN
29910              NaN              NaN              NaN              NaN
29911              NaN              NaN              NaN              NaN
29912              NaN              NaN              NaN              NaN
29913              NaN              NaN              NaN              NaN

        noise_ustar[%]     noise_HTs[%]     noise_LvE[%]     noise_co2[%]  \
29904              NaN              NaN              NaN              NaN
29905              NaN              NaN              NaN              NaN
29906              NaN              NaN              NaN              NaN
29907              NaN              NaN              NaN              NaN
29908              NaN              NaN              NaN              NaN
29909              NaN              NaN              NaN              NaN
29910              NaN              NaN              NaN              NaN
29911              NaN              NaN              NaN              NaN
29912              NaN              NaN              NaN              NaN
29913              NaN              NaN              NaN              NaN

       Unnamed: 61   anio
29904          NaN  20.50
29905          NaN  20.75
29906          NaN  21.00
29907          NaN  21.25
29908          NaN  21.50
29909          NaN  21.75
29910          NaN  22.00
29911          NaN  22.25
29912          NaN  22.50
29913          NaN  22.75

[10 rows x 124 columns]

 Estadísticos:
             Momento          TSS1          TSS2           TS1           TS2  \
count  28058.000000  26084.000000  26084.000000  26084.000000  26084.000000
mean     200.494792     12.809855     12.667990     13.112377     13.341943
std       84.372826      4.319567      4.420646      5.202829      3.832009
min       54.364580      2.050000      1.690000      0.870000      5.590000
5%        68.977607      6.190000      5.911500      5.310000      7.710000
25%      127.429685      9.140000      8.980000      9.030000      9.580000
50%      200.494790     12.940000     12.660000     12.960000     13.860000
75%      273.559895     16.300000     16.150000     16.730000     16.700000
95%      332.011981     19.460000     19.660000     21.950000     18.868500
max      346.625000     26.530000     27.640000     32.810000     21.470000

                TS3           TS4         TS_QG             U           DIR  \
count  26084.000000  26084.000000  26084.000000  26084.000000  26084.000000
mean      13.188933     13.444002     13.226538      3.107835    166.188936
std        3.369678      2.879292      4.174190      2.394442    123.944718
min        7.560000      9.410000      3.870000      0.000000      0.000000
5%         8.600000      9.850000      6.860000      0.000000      0.000000
25%        9.800000     10.430000      9.380000      1.303000     41.275000
50%       13.260000     13.000000     13.590000      2.767000    169.900000
75%       16.180000     16.370000     16.680000      4.757250    291.200000
95%       18.670000     18.280000     19.448500      7.477700    344.700000
max       20.010000     18.740000     24.430000     18.640000    360.000000

       ...   r_err_ustar[%]     r_err_HTs[%]     r_err_LvE[%]  \
count  ...     19915.000000     19642.000000     18052.000000
mean   ...         5.829143        14.714304        37.865424
std    ...         6.215337        31.521192       124.628992
min    ...         1.126291         2.792074         3.684651
5%     ...         3.357578         6.663705         8.206147
25%    ...         4.048446         7.892781        10.364419
50%    ...         4.659180         9.150703        13.995440
75%    ...         5.684782        11.661809        32.772280
95%    ...        12.654839        33.811549       121.373187
max    ...       339.890167      1642.349854      8350.856445

          r_err_co2[%]   noise_ustar[%]     noise_HTs[%]     noise_LvE[%]  \
count     18590.000000     19915.000000     19643.000000     18052.000000
mean         27.583083         0.277421         1.658139         2.775610
std          82.162469         0.318476        43.832479        10.416851
min           3.740930         0.009972         0.059600         0.069390
5%            7.967293         0.135667         0.281263         0.372573
25%           9.782598         0.192005         0.444825         0.714399
50%          12.203225         0.246859         0.641641         1.032635
75%          20.308004         0.310624         0.979311         2.083223
95%          82.380938         0.444609         3.207975         9.313050
max        5468.913086        22.608850      6033.718262       750.084351

          noise_co2[%]  Unnamed: 61          anio
count     18590.000000          0.0  29914.000000
mean          2.208643          NaN     11.881987
std           9.777757          NaN      6.925955
min           0.000000          NaN      0.000000
5%            0.351534          NaN      1.000000
25%           0.596883          NaN      6.000000
50%           0.855001          NaN     12.000000
75%           1.462251          NaN     18.000000
95%           7.681513          NaN     22.750000
max        1023.313294          NaN     23.750000

[10 rows x 121 columns]

In [6]:
datos_juntos.loc[-1] = [np.nan] * 124
datos_juntos.index = datos_juntos.index + 1
datos_juntos.sort_index(inplace = True)
col = [1, 2, 3, 4]
total = list(range(len(datos_juntos['TSS1'])))
for i in col:
    num = str(col[i-1])
    datos_juntos['e_s ' + num] = total[:]
    for j in total:
        datos_juntos['e_s ' + num][j] = presion_saturacion(datos_juntos['TA' + num][j])
    datos_juntos['VPD ' + num] = round(
        datos_juntos['e_s ' + num] * (1 - datos_juntos['HR' + num]/100),
        2
        )
datos_juntos['e_s Ts'] = total[:]
for k in total:
    datos_juntos['e_s Ts'][k] = presion_saturacion(datos_juntos['Ts[degC]       '][k])
rho = densidad_aire(datos_juntos['Ts[degC]       '],
                    datos_juntos['p_ref[hPa]     ']
                   )
q = humedad_especifica(datos_juntos['a[g/m3]        '],
                      rho
                      )
e = presion_vapor(q, datos_juntos['p_ref[hPa]     '])
datos_juntos['VPD Ts'] = round(
    datos_juntos['e_s Ts'] - e,
    2
    )

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
datos_juntos.head(20)

,Momento,TSS1,TSS2,TS1,TS2,TS3,TS4,TS_QG,U,DIR,...,e_s 1,VPD 1,e_s 2,VPD 2,e_s 3,VPD 3,e_s 4,VPD 4,e_s Ts,VPD Ts
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,54.36458,18.15,17.97,17.89,19.35,19.21,18.66,18.47,4.701,165.8,...,21.945891,8.68,22.865282,9.09,22.429336,8.68,22.138164,8.74,21.582729,3.48
2,54.37500,18.16,18.12,18.10,19.35,19.21,18.67,18.46,5.088,166.4,...,22.193369,8.89,23.351919,9.55,22.836934,9.06,22.387536,8.96,21.796771,3.75
3,54.38542,18.18,18.26,18.41,19.32,19.20,18.67,18.46,5.180,166.0,...,22.499154,9.30,23.715494,9.99,23.236609,9.55,22.681572,9.35,22.208724,4.12
4,54.39583,18.25,18.35,18.80,19.30,19.19,18.67,18.46,5.217,170.4,...,22.597219,9.69,24.039523,10.58,23.453226,10.05,22.808618,9.76,22.320836,4.54
5,54.40625,18.35,18.53,19.07,19.26,19.16,18.65,18.47,5.059,156.8,...,22.723852,9.58,24.322473,10.63,23.730140,10.11,22.964741,9.67,22.314838,4.20
6,54.41667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.481259,4.50
7,54.42708,19.00,19.02,19.98,19.26,19.16,18.64,18.63,4.685,154.7,...,22.836934,9.58,24.897116,11.08,23.936006,10.25,23.050292,9.68,22.665825,4.54
8,54.43750,19.26,19.16,20.67,19.28,19.17,18.65,18.72,4.681,157.2,...,22.964741,9.99,24.866578,11.37,24.217892,10.73,23.265390,10.14,22.706276,4.69
9,54.44792,19.44,19.36,21.23,19.28,19.17,18.63,18.78,5.068,165.6,...,22.836934,9.63,24.668882,10.98,24.024711,10.36,23.107481,9.78,22.539700,4.59
10,54.45833,19.69,19.51,22.01,19.28,19.16,18.63,18.89,5.128,166.3,...,23.179141,10.49,25.219741,11.99,24.502674,11.30,23.366368,10.58,23.187443,5.74
11,54.46875,19.96,19.81,22.94,19.26,19.14,18.60,18.97,4.587,161.3,...,23.496760,10.61,25.844381,12.45,24.927686,11.52,23.759454,10.74,23.359853,5.46
12,54.47917,20.28,20.18,23.80,19.27,19.13,18.60,19.17,4.617,178.1,...,23.862304,11.03,26.337728,12.93,25.390189,12.02,24.009907,11.06,23.821592,6.13
13,54.48958,20.52,20.49,24.52,19.29,19.13,18.58,19.39,4.576,172.8,...,23.715494,11.06,26.145788,12.94,25.204296,12.05,23.936006,11.13,23.289472,5.76
14,54.50000,20.79,20.79,25.27,19.31,19.13,18.59,19.65,4.813,167.5,...,23.453226,10.74,26.161736,12.83,25.050295,11.85,23.700857,10.87,23.352581,5.77
15,54.51042,21.07,21.10,25.90,19.33,19.11,18.58,19.90,4.776,168.7,...,23.584041,10.82,26.305652,13.04,25.297093,12.02,23.788800,10.94,23.575186,5.89
16,54.52083,21.38,21.40,26.41,19.37,19.11,18.58,20.15,4.491,165.3,...,23.627788,11.21,26.321686,13.38,25.390189,12.49,23.906501,11.38,23.285124,6.22
17,54.53125,21.83,21.77,26.76,19.41,19.10,18.57,20.36,4.674,177.2,...,23.627788,11.35,26.257604,13.46,25.266128,12.54,23.832878,11.48,23.468991,6.41
18,54.54167,22.26,21.99,27.27,19.44,19.09,18.55,20.57,4.786,173.2,...,23.936006,11.50,26.660361,13.69,25.655586,12.75,24.173191,11.62,23.838264,6.54
19,54.55208,22.58,22.30,27.88,19.49,19.09,18.53,20.76,4.937,175.9,...,23.950770,11.45,26.741556,13.73,25.765570,12.80,24.232808,11.59,23.636411,6.41

In [8]:
col = datos_juntos.columns[-10:]
datos_juntos[col].sample(20)

,e_s 1,VPD 1,e_s 2,VPD 2,e_s 3,VPD 3,e_s 4,VPD 4,e_s Ts,VPD Ts
18576,14.643373,3.25,13.920694,14.25,14.170448,3.26,14.739604,3.37,14.629559,11.86
29066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19070,12.147298,1.31,12.033793,12.32,12.090428,1.60,12.269956,1.51,12.194014,NaN
3857,29.438707,12.82,31.440714,13.92,30.846433,12.94,29.580463,12.50,30.128072,7.19
19225,18.512893,5.80,19.675311,20.14,19.354345,6.87,18.773825,5.92,18.604482,-0.18
7487,10.081993,0.88,10.109659,1.01,10.137392,4.90,10.277065,1.09,NaN,NaN
18581,14.235838,2.41,13.893184,14.22,14.040459,2.61,14.367415,2.57,13.710901,NaN
17310,15.159761,6.73,15.590402,15.96,15.539782,7.26,15.368751,6.85,14.841906,1.75
26555,20.640409,3.96,18.301773,18.73,18.821612,3.22,20.178212,4.19,19.073842,-2.04
22150,12.082323,3.59,11.881244,12.16,11.921222,3.74,12.090428,3.71,11.348685,-1.88
3954,33.958768,17.85,36.224735,19.11,35.489894,17.99,34.179670,17.60,33.728332,11.55
25918,23.862304,9.23,24.352426,24.92,24.232808,9.79,23.788800,9.23,23.515028,2.12
4975,17.897297,1.57,17.874422,1.73,17.931656,2.30,18.162202,1.71,NaN,NaN
28389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17714,14.758917,5.05,14.367415,14.70,14.557237,5.16,14.914222,5.16,13.575134,-1.16
29037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11005,9.999395,1.90,9.903786,10.14,9.965156,2.17,10.158236,2.07,9.717588,-1.06
9329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.183408,-3.05
6865,15.459090,3.99,15.110371,3.56,15.268918,8.81,15.702277,4.12,NaN,NaN
27026,13.939061,5.56,13.432770,13.75,13.504092,5.64,13.692900,5.63,12.630200,0.04

In [10]:
datos_juntos.to_csv('C:\\Users\\nahue\\Desktop\\Tesis_2\\Datos\\Datos_juntos.csv',
                       sep = '\t',
                       na_rep = -9999,
                       index = False,
                       encoding = 'ascii'
                       )