In [6]:
import pandas as pd
import numpy as np

In [7]:
datos = pd.read_csv(
    'C:\\Users\\nahue\\Desktop\\Tesis_2\\Datos\\Ejemplo_orig.txt',
    delimiter = '\t',
    decimal = '.',
    na_values = -9999,
    encoding = 'ascii'
    )

In [8]:
datos.head()

   Year DoY Hour         NEE    LE       H    Rg  Tair Tsoil     rH  VPD Ustar
0     -   -    -  umolm-2s-1  Wm-2    Wm-2  Wm-2  degC  degC      %  hPa  ms-1
1  1998   1  0.5       -1.21  1.49  -11.77     0   7.4  4.19  55.27  4.6  0.72
2  1998   1    1        1.72   3.8   -13.5     0   7.5   4.2  55.95  4.6  0.52
3  1998   1  1.5         NaN  1.52   -18.3     0   7.1  4.22  57.75  4.3  0.22
4  1998   1    2         NaN  3.94  -17.47     0   6.6  4.23   60.2  3.9   0.2

In [9]:
encod = ['ascii', 'cp037', 'cp437', 'cp500',
         'cp850', 'cp1140', 'cp1252', 'latin_1',
         'iso2022_jp_2', 'iso8859_15', 'utf_8',
         'mac_roman', 'utf_16', 'utf_16_be',
         'utf_16_le', 'utf_7'
        ]

In [12]:
for i in encod:
    datos.to_csv('C:\\Users\\nahue\\Desktop\\Tesis_2\\Datos\\Ejemplo_' + i + '.txt',
                 sep = '\t',
                 na_rep = -9999,
                 index = False,
                 encoding = i,
                 )