In [1]:
import pandas as pd
import numpy as np

In [2]:
def resumen(datos):
    return print('Forma:\n', datos.shape,'\n\n',
                 'Columnas:\n', datos.columns,'\n\n',
                 'Tipos:\n', datos.dtypes,'\n\n',
                 'Datos nulos:\n', datos.isnull().sum(),'\n\n',
                 'Cabecera:\n', datos.head(10),'\n\n',
                 'Últimos datos:\n', datos.tail(10),'\n\n',
                 'Estadísticos:\n', datos.describe([0.05,0.25,0.5,0.75,0.95])
                )
def truncar(numero, decimales = 0):
    return np.trunc(numero*10**decimales)/(10**decimales)

In [3]:
datos_juntos = pd.read_csv(
    'C:\\Users\\nahue\\Desktop\\Tesis_2\\Datos\\Datos_buenos_2.csv',
    delimiter = '\t',
    decimal = '.',
    na_values = -9999,
    encoding = 'ascii'
    )

In [4]:
datos_para_promediar = datos_juntos[['anio', 'Dia', 'Hora', '  NEE[mmol/m2s]',
                                     'LvE[W/m2]      ', 'HTs[W/m2]      ', 'RG',
                                     'TA1', 'TSS1', 'HR1', 'VPD 1',  'TSS2',
                                     'ustar[m/s]     '
                                ]]

In [5]:
resumen(datos_para_promediar)

Forma:
 (29914, 13)

 Columnas:
 Index(['anio', 'Dia', 'Hora', '  NEE[mmol/m2s]', 'LvE[W/m2]      ',
       'HTs[W/m2]      ', 'RG', 'TA1', 'TSS1', 'HR1', 'VPD 1', 'TSS2',
       'ustar[m/s]     '],
      dtype='object')

 Tipos:
 anio               float64
Dia                float64
Hora               float64
  NEE[mmol/m2s]    float64
LvE[W/m2]          float64
HTs[W/m2]          float64
RG                 float64
TA1                float64
TSS1               float64
HR1                float64
VPD 1              float64
TSS2               float64
ustar[m/s]         float64
dtype: object

 Datos nulos:
 anio                   0
Dia                    0
Hora                   0
  NEE[mmol/m2s]    14376
LvE[W/m2]          14220
HTs[W/m2]          11851
RG                  3830
TA1                 3830
TSS1                3830
HR1                 3830
VPD 1               3830
TSS2                3830
ustar[m/s]         10266
dtype: int64

 Cabecera:
     anio   Dia   Hora    NEE[mmol/m2s]  LvE[W/m2]        HTs[W/m2]        \
0   8.75  54.0   8.75              NaN              NaN              NaN
1   9.00  54.0   9.00              NaN              NaN              NaN
2   9.25  54.0   9.25              NaN              NaN              NaN
3   9.50  54.0   9.50              NaN              NaN              NaN
4   9.75  54.0   9.75              NaN              NaN              NaN
5  10.00  54.0  10.00              NaN              NaN              NaN
6  10.25  54.0  10.25              NaN              NaN              NaN
7  10.50  54.0  10.50              NaN              NaN              NaN
8  10.75  54.0  10.75              NaN              NaN              NaN
9  11.00  54.0  11.00              NaN              NaN              NaN

      RG    TA1   TSS1    HR1  VPD 1   TSS2  ustar[m/s]
0  469.4  19.00  18.15  60.46   8.68  17.97              NaN
1  525.4  19.18  18.16  59.93   8.89  18.12              NaN
2  585.1  19.40  18.18  58.66   9.30  18.26              NaN
3  640.6  19.47  18.25  57.12   9.69  18.35              NaN
4  705.7  19.56  18.35  57.82   9.58  18.53              NaN
5    NaN    NaN    NaN    NaN    NaN    NaN              NaN
6  833.0  19.64  19.00  58.04   9.58  19.02              NaN
7  734.5  19.73  19.26  56.50   9.99  19.16              NaN
8  734.6  19.64  19.44  57.82   9.63  19.36              NaN
9  905.0  19.88  19.69  54.73  10.49  19.51              NaN

 Últimos datos:
         anio    Dia   Hora    NEE[mmol/m2s]  LvE[W/m2]        HTs[W/m2]        \
29904  20.50  365.0  20.50              NaN              NaN              NaN
29905  20.75  365.0  20.75              NaN              NaN              NaN
29906  21.00  365.0  21.00              NaN              NaN              NaN
29907  21.25  365.0  21.25              NaN              NaN              NaN
29908  21.50  365.0  21.50              NaN              NaN              NaN
29909  21.75  365.0  21.75              NaN              NaN              NaN
29910  22.00  365.0  22.00              NaN              NaN              NaN
29911  22.25  365.0  22.25              NaN              NaN              NaN
29912  22.50  365.0  22.50              NaN              NaN              NaN
29913  22.75  365.0  22.75              NaN              NaN              NaN

       RG  TA1  TSS1  HR1  VPD 1  TSS2  ustar[m/s]
29904 NaN  NaN   NaN  NaN    NaN   NaN              NaN
29905 NaN  NaN   NaN  NaN    NaN   NaN              NaN
29906 NaN  NaN   NaN  NaN    NaN   NaN              NaN
29907 NaN  NaN   NaN  NaN    NaN   NaN              NaN
29908 NaN  NaN   NaN  NaN    NaN   NaN              NaN
29909 NaN  NaN   NaN  NaN    NaN   NaN              NaN
29910 NaN  NaN   NaN  NaN    NaN   NaN              NaN
29911 NaN  NaN   NaN  NaN    NaN   NaN              NaN
29912 NaN  NaN   NaN  NaN    NaN   NaN              NaN
29913 NaN  NaN   NaN  NaN    NaN   NaN              NaN

 Estadísticos:
                anio           Dia          Hora    NEE[mmol/m2s]  \
count  29914.000000  29914.000000  29914.000000     15538.000000
mean      11.881987    209.655947     11.881987        -0.000966
std        6.925955     89.954161      6.925955         0.003583
min        0.000000     54.000000      0.000000        -0.021272
5%         1.000000     69.000000      1.000000        -0.007462
25%        6.000000    132.000000      6.000000        -0.002879
50%       12.000000    210.000000     12.000000        -0.000022
75%       18.000000    288.000000     18.000000         0.001210
95%       22.750000    350.000000     22.750000         0.003604
max       23.750000    365.000000     23.750000         0.015088

       LvE[W/m2]        HTs[W/m2]                  RG           TA1  \
count     15694.000000     18063.000000  26084.000000  26084.000000
mean         60.056048        36.879102    166.152628     13.523794
std          83.471030       105.037221    267.323971      5.717128
min        -396.093353      -171.430832      0.000000     -2.120000
5%          -11.199496       -54.475446      0.010000      4.330000
25%           2.368198       -25.887144      0.020000      9.590000
50%          28.333794        -6.083705      0.390000     13.200000
75%          94.531700        63.820221    252.625000     17.380000
95%         237.675088       271.819275    801.000000     23.407000
max         490.115417       620.672546   1305.000000     32.640000

               TSS1           HR1         VPD 1          TSS2  ustar[m/s]
count  26084.000000  26084.000000  26084.000000  26084.000000     19648.000000
mean      12.809855     75.365612      4.573335     12.667990         0.378875
std        4.319567     16.067386      4.693120      4.420646         0.377567
min        2.050000     17.210000      0.230000      1.690000         0.010433
5%         6.190000     43.071500      0.790000      5.911500         0.053715
25%        9.140000     65.170000      1.580000      8.980000         0.184998
50%       12.940000     80.300000      2.880000     12.660000         0.331112
75%       16.300000     88.600000      5.710000     16.150000         0.497192
95%       19.460000     93.100000     14.468500     19.660000         0.735403
max       26.530000     96.500000     33.760000     27.640000         6.521709

In [6]:
datos_para_promediar['  NEE[mmol/m2s]'] = datos_para_promediar['  NEE[mmol/m2s]'] * 1000

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
datos_para_promediar['anio'] = 2018

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
datos_para_promediar['TSS1'] = ((datos_para_promediar['TSS1']
                                + datos_para_promediar['TSS2']
                                ) / 2
                               )

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
unidades = ['-', '-', '-', 
            'umolm-2s-1', 'Wm-2', 
            'Wm-2', 'Wm-2', 'degC',
            'degC', '%', 'hPa','ms-1'
            ]
columnas = {'anio':'Year',
            'Dia':'DoY',
            'Hora':'Hour',
            '  NEE[mmol/m2s]':'NEE',
            'LvE[W/m2]      ':'LE',
            'HTs[W/m2]      ':'H',
            'RG':'Rg',
            'TA1':'Tair',
            'TSS1':'Tsoil',
            'HR2':'rH',
            'VPD 1':'VPD',
            'ustar[m/s]     ':'Ustar'
           }

In [10]:
datos_para_promediar = datos_para_promediar.rename(columns = columnas)

In [11]:
datos_para_promediar = datos_para_promediar.drop('TSS2', axis = 1)

In [12]:
datos_para_promediar.head()

   Year   DoY  Hour  NEE  LE   H     Rg   Tair  Tsoil    HR1   VPD  Ustar
0  2018  54.0  8.75  NaN NaN NaN  469.4  19.00  18.06  60.46  8.68    NaN
1  2018  54.0  9.00  NaN NaN NaN  525.4  19.18  18.14  59.93  8.89    NaN
2  2018  54.0  9.25  NaN NaN NaN  585.1  19.40  18.22  58.66  9.30    NaN
3  2018  54.0  9.50  NaN NaN NaN  640.6  19.47  18.30  57.12  9.69    NaN
4  2018  54.0  9.75  NaN NaN NaN  705.7  19.56  18.44  57.82  9.58    NaN

In [13]:
datos_promediados = datos_para_promediar[1:].rolling(2, min_periods = 1).mean()
datos_promediados.head(10)

,Year,DoY,Hour,NEE,LE,H,Rg,Tair,Tsoil,HR1,VPD,Ustar
1,2018.0,54.0,9.000,NaN,NaN,NaN,525.40,19.180,18.1400,59.930,8.890,NaN
2,2018.0,54.0,9.125,NaN,NaN,NaN,555.25,19.290,18.1800,59.295,9.095,NaN
3,2018.0,54.0,9.375,NaN,NaN,NaN,612.85,19.435,18.2600,57.890,9.495,NaN
4,2018.0,54.0,9.625,NaN,NaN,NaN,673.15,19.515,18.3700,57.470,9.635,NaN
5,2018.0,54.0,9.875,NaN,NaN,NaN,705.70,19.560,18.4400,57.820,9.580,NaN
6,2018.0,54.0,10.125,NaN,NaN,NaN,833.00,19.640,19.0100,58.040,9.580,NaN
7,2018.0,54.0,10.375,NaN,NaN,NaN,783.75,19.685,19.1100,57.270,9.785,NaN
8,2018.0,54.0,10.625,NaN,NaN,NaN,734.55,19.685,19.3050,57.160,9.810,NaN
9,2018.0,54.0,10.875,NaN,NaN,NaN,819.80,19.760,19.5000,56.275,10.060,NaN
10,2018.0,54.0,11.125,NaN,NaN,NaN,939.00,19.990,19.7425,54.795,10.550,NaN

In [14]:
iterador = list(range(2, len(datos_promediados['Year'])))
datos_para_subir = datos_promediados[:]
for i in iterador:
    truncado = truncar(datos_promediados['Hour'][i])
    decimales = datos_promediados['Hour'][i] - truncado
    if decimales == 0.125:
        datos_para_subir['Hour'][i] = 0.5 + truncado
    elif decimales == 0.625:
        datos_para_subir['Hour'][i] = truncado + 1
        if datos_para_subir['Hour'][i] == 24:
            datos_para_subir['Hour'][i] = 0
            datos_para_subir['DoY'][i] = datos_para_subir['DoY'][i] + 1
    else: datos_para_subir = datos_para_subir.drop(i)

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
datos_para_subir.loc[-1] = unidades
datos_para_subir.index = datos_para_subir.index + 1
datos_para_subir.sort_index(inplace = True)

In [16]:
datos_para_subir.iloc[14025:14035]

,Year,DoY,Hour,NEE,LE,H,Rg,Tair,Tsoil,HR1,VPD,Ustar
28049,2018,346,13,NaN,NaN,NaN,0.025,22.14,19.7475,34.52,17.435,NaN
28051,2018,346,13.5,NaN,NaN,NaN,0.025,21.72,20.115,33.68,17.215,NaN
28053,2018,346,14,NaN,NaN,NaN,0.03,22.245,20.35,37.26,16.825,NaN
28055,2018,346,14.5,NaN,NaN,NaN,0.03,22.055,20.435,37.735,16.51,NaN
28057,2018,346,15,NaN,NaN,NaN,0.03,21.105,20.365,40.765,14.805,NaN
28060,2018,200,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28062,2018,346,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28064,2018,346,16.5,NaN,163.041,213.035,NaN,NaN,NaN,NaN,NaN,0.462307
28066,2018,346,17,-9.8609,131.493,216.836,NaN,NaN,NaN,NaN,NaN,0.451216
28068,2018,346,17.5,-7.56655,123.131,170.161,NaN,NaN,NaN,NaN,NaN,0.421514

In [17]:
datos_para_subir.loc[28060] = [2018, 346, 15.5,
                               np.nan, np.nan, np.nan,
                               np.nan, np.nan, np.nan,
                               np.nan, np.nan, np.nan
                               ]

In [29]:
datos_para_subir.tail(525)

,Year,DoY,Hour,NEE,LE,H,Rg,Tair,Tsoil,HR1,VPD,Ustar
28866,2018,355,1,7.2775,-20.4024,-4.80271,NaN,NaN,NaN,NaN,NaN,0.263268
28868,2018,355,1.5,NaN,32.8586,-1.88557,NaN,NaN,NaN,NaN,NaN,0.296767
28870,2018,355,2,NaN,182.455,-10.8355,NaN,NaN,NaN,NaN,NaN,0.312895
28872,2018,355,2.5,NaN,NaN,-5.02691,NaN,NaN,NaN,NaN,NaN,0.33942
28874,2018,355,3,NaN,NaN,-10.0353,NaN,NaN,NaN,NaN,NaN,0.427407
28876,2018,355,3.5,NaN,NaN,5.54436,NaN,NaN,NaN,NaN,NaN,0.452506
28878,2018,355,4,NaN,NaN,-7.52485,NaN,NaN,NaN,NaN,NaN,0.368843
28880,2018,355,4.5,NaN,NaN,-6.56678,NaN,NaN,NaN,NaN,NaN,0.354676
28882,2018,355,5,NaN,NaN,-6.55718,NaN,NaN,NaN,NaN,NaN,0.291648
28884,2018,355,5.5,NaN,NaN,-10.1795,NaN,NaN,NaN,NaN,NaN,0.352202
28886,2018,355,6,NaN,NaN,-8.17311,NaN,NaN,NaN,NaN,NaN,0.353992
28888,2018,355,6.5,NaN,NaN,-5.31453,NaN,NaN,NaN,NaN,NaN,0.232674
28890,2018,355,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28892,2018,355,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28894,2018,355,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28896,2018,355,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28898,2018,355,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28900,2018,355,9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28902,2018,355,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28904,2018,355,10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28906,2018,355,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28908,2018,355,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28910,2018,355,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28912,2018,355,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28914,2018,355,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28916,2018,355,13.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28918,2018,355,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28920,2018,355,14.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28922,2018,355,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28924,2018,355,15.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
29856,2018,365,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29858,2018,365,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29860,2018,365,9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29862,2018,365,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29864,2018,365,10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29866,2018,365,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29868,2018,365,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29870,2018,365,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29872,2018,365,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29874,2018,365,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29876,2018,365,13.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29878,2018,365,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29880,2018,365,14.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29882,2018,365,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29884,2018,365,15.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29886,2018,365,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29888,2018,365,16.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29890,2018,365,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29892,2018,365,17.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29894,2018,365,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29896,2018,365,18.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29898,2018,365,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29900,2018,365,19.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29902,2018,365,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29904,2018,365,20.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29906,2018,365,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29908,2018,365,21.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29910,2018,365,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29912,2018,365,22.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29914,2018,365,22.625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
eliminar = list(range(28888, 29916, 2))
datos_para_subir = datos_para_subir.drop(eliminar)

In [42]:
datos_para_subir.tail(30)

,Year,DoY,Hour,NEE,LE,H,Rg,Tair,Tsoil,HR1,VPD,Ustar
28828,2018,354,15.5,-0.9842,7.01155,68.5646,NaN,NaN,NaN,NaN,NaN,0.575192
28830,2018,354,16,4.99475,-5.74067,21.4673,NaN,NaN,NaN,NaN,NaN,0.515352
28832,2018,354,16.5,-1.3259,97.2548,-0.0620737,NaN,NaN,NaN,NaN,NaN,0.466268
28834,2018,354,17,-12.4504,59.9169,-13.4023,NaN,NaN,NaN,NaN,NaN,0.363356
28836,2018,354,17.5,-19.8556,-28.8133,-6.21153,NaN,NaN,NaN,NaN,NaN,0.301889
28838,2018,354,18,-9.8246,0.750698,-6.48961,NaN,NaN,NaN,NaN,NaN,0.278876
28840,2018,354,18.5,-0.2071,10.5838,-6.66338,NaN,NaN,NaN,NaN,NaN,0.325977
28842,2018,354,19,4.24375,NaN,-3.25652,NaN,NaN,NaN,NaN,NaN,0.228405
28844,2018,354,19.5,-4.8476,16.4272,-10.9812,NaN,NaN,NaN,NaN,NaN,0.308939
28846,2018,354,20,4.06655,8.84606,-11.7225,NaN,NaN,NaN,NaN,NaN,0.211152
28848,2018,354,20.5,5.97385,12.4282,-17.5559,NaN,NaN,NaN,NaN,NaN,0.299647
28850,2018,354,21,6.319,-15.7725,-11.8151,NaN,NaN,NaN,NaN,NaN,0.384388
28852,2018,354,21.5,5.15925,5.94157,-10.233,NaN,NaN,NaN,NaN,NaN,0.292607
28854,2018,354,22,4.92665,NaN,-8.38447,NaN,NaN,NaN,NaN,NaN,0.270301
28856,2018,354,22.5,6.32555,15.2181,-8.53133,NaN,NaN,NaN,NaN,NaN,0.259465
28858,2018,354,23,6.75495,10.6321,-8.48669,NaN,NaN,NaN,NaN,NaN,0.230659
28860,2018,354,23.5,4.41835,6.76626,-5.53598,NaN,NaN,NaN,NaN,NaN,0.150133
28862,2018,355,0,5.76205,NaN,-10.2443,NaN,NaN,NaN,NaN,NaN,0.262669
28864,2018,355,0.5,5.7512,-4.26765,-9.54885,NaN,NaN,NaN,NaN,NaN,0.267682
28866,2018,355,1,7.2775,-20.4024,-4.80271,NaN,NaN,NaN,NaN,NaN,0.263268
28868,2018,355,1.5,NaN,32.8586,-1.88557,NaN,NaN,NaN,NaN,NaN,0.296767
28870,2018,355,2,NaN,182.455,-10.8355,NaN,NaN,NaN,NaN,NaN,0.312895
28872,2018,355,2.5,NaN,NaN,-5.02691,NaN,NaN,NaN,NaN,NaN,0.33942
28874,2018,355,3,NaN,NaN,-10.0353,NaN,NaN,NaN,NaN,NaN,0.427407
28876,2018,355,3.5,NaN,NaN,5.54436,NaN,NaN,NaN,NaN,NaN,0.452506
28878,2018,355,4,NaN,NaN,-7.52485,NaN,NaN,NaN,NaN,NaN,0.368843
28880,2018,355,4.5,NaN,NaN,-6.56678,NaN,NaN,NaN,NaN,NaN,0.354676
28882,2018,355,5,NaN,NaN,-6.55718,NaN,NaN,NaN,NaN,NaN,0.291648
28884,2018,355,5.5,NaN,NaN,-10.1795,NaN,NaN,NaN,NaN,NaN,0.352202
28886,2018,355,6,NaN,NaN,-8.17311,NaN,NaN,NaN,NaN,NaN,0.353992

In [43]:
datos_para_subir.to_csv('C:\\Users\\nahue\\Desktop\\Tesis_2\\Datos\\Para_subir.txt',
                        sep = '\t',
                        na_rep = -9999,
                        index = False,
                        encoding = 'ascii'
                        )